# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual Environment
venv/

# macOS
.DS_Store

# Environment variables
.env

# IDE settings
.vscode/
.idea/

# Project-specific directories
/content/*
/profiles/*
/reports/*

# Exclude "example" files/folders in specific directories
!/content/*example*
!/profiles/*example*
!/reports/*example*

# Ignore .cursorrules files
.cursorrules

# Logs
*.log

# Temporary files
*.tmp

# Keep .gitkeep files in empty directories
!data/.gitkeep
!profiles/.gitkeep
!reports/.gitkeep
